body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.calculator {

    display: grid;
    gap: 1px;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(100px, 6rem) repeat(5, 4rem);
    width: calc(24rem + 13px);
    border: pink solid 5px;
    border-radius: 5px;
    margin: 20px auto
}
.output {
    grid-column: 1 / span 4;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
}
.last-output {
    font-size: 1.5rem;
}
.current-output {
    font-size: 2rem;
}

.button-ac {
    grid-column: 1 / span 2;
}

.button-equ {
    grid-column: 3 / span 2;
}
















button:hover {
    background-color: rgb(80, 222, 194);
}